/* Grundlayout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow: hidden; */
}

:root {
  --AbstandRand: 32px;
  --AbstandContainer: 128px;
  --HeightHeader: 64px;
  --HeightFooter: 64px;
  --AbstandDialogbox: 128px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--AbstandContainer) var(--AbstandRand);
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2d5588;
  font-family: sans-serif;
  color: white;
}

main {
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #3a3a3a73;
  height: var(--HeightFooter);
  padding: 0 var(--AbstandRand);
}

h3 {
  padding-top: 14px;
  padding-bottom: 14px;
}

h4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

#ContactForm {
  width: 250px;

}


/* ############### Header / Footer */
header {
  background-color: #3a3a3a73;
  height: var(--HeightHeader);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--AbstandRand);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: calc(var(--HeightHeader) - 8px);
}

#FooterLink img {
  height: 48px;
  aspect-ratio: 1 / 1;
}

/* ############ Vorschau */
.imgPreview {
  width: 256px;
  aspect-ratio: 1 / 1;
  padding: 0;
  border: none;
  background: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imgPreview:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* Verstecken Mobile Device / Desktop */
.hide-desktop {
  display: none;
}

.hide-mobile {
  display: block;
}

.hide-link {
    display: none !important;
}

/* ############### Foto für Dialog */

#FotogramPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 32px 32px;
}

#mainFotogram {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

#mainFotogram img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

#imgID {
  color: red;
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* ordentlicher Schatten */
  position: absolute;
  bottom: 32px;
  left: 50%;
}

#dialogPrevious {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  /* vertikal mittig */
}

#dialogNext {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  /* vertikal mittig */

}

.btnImgChange {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #333;
  font-size: 24px;
  width: 32px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  ############### Dialog  */
.dialogClass {
  position: fixed;
  top: var(--AbstandDialogbox);
  bottom: var(--AbstandDialogbox);
  left: var(--AbstandDialogbox);
  right: var(--AbstandDialogbox);
  width: auto;
  height: auto;
  /* max-width: 1450px; */
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(22, 48, 87, 0.8);
  overflow: hidden;

}



.dialogClass header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #3a3a3a;
  color: white;
}

.dialogClass header h2 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 32px;
}

.btnDialogClose {
  background-color: #2d5588;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  padding: 1%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(4px);     
}


.showPictureFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.showPictureFlex main {
  justify-content: center;
  align-items: center;
  flex: 1;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.034);
}

.datenschutz{
  color: black;
  padding: 0 var(--AbstandRand);
}

.d_none {
  display: none;
}

/* ######################  Menü */
.resp_menu_box {
  /* opacity: 1;
    transform: none ; */
  position: static;
  background: none;
  display: flex;
  align-items: center;
}


.resp_menu_box ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.resp_menu_box a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.resp_menu_box a.active {
  color: #4caf50;
  font-weight: bold;
}

nav {
  align-self: flex-end;
  padding-bottom: 16px;
}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

#Impressum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

#Impressum a {
  color: red;
}

/* ##################### Mobile Ansicht */
@media (max-width: 767px) {
  :root {
    --AbstandRand: 16px;
    --AbstandContainer: 8px;
    --HeightHeader: 64px;
    --HeightFooter: 64px;
    --AbstandDialogbox: 24px;
  }

  * {
    overflow-y: scroll;
  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .resp_menu_box {
    background-color: rgb(123, 123, 123);
    display: flex;
    flex-direction: column;
    width: 180px;
    height: auto;
    position: fixed;
    top: calc(var(--HeightHeader) + 4px);
    right: 0;
    transition: all 250ms ease-in-out;
  }

  .resp_menu_box ul {
    flex-direction: column;
    gap: 12px;
  }

  .resp_menu_box a {
    font-size: 18px;
  }

  .resp_menu_closed {
    transform: translateX(100%);

  }

  .imgPreview {
    width: 128px;
  }

}